<!doctype html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Hello <%= user.username %>, welcome to your dashboard!</h1>
    <a href="/logout">Logout</a>
  </body>
</html>
