<!doctype html>
<html>
  <head>
    <title>Sign up</title>
  </head>
  <body>
    <form method="post">
      <span>Username: </span><input type="text" name="username" /></br>
      <span>Password: </span><input type="password" name="password" /></br>
      <span>Email: </span><input type="email" name="email" /></br>
      <input type="submit" value="Register"/>
    </form>
  </body>
</html>
